.container {
    display: flex;
    min-height: 100vh;
    max-width: 220rem;
    justify-content: center;
    margin: auto;

    overflow: hidden;

    @include respond(tab-landscape) {
        flex-direction: column;
    }

    &>div {
        flex: 1;
        display: flex;


        &>div {
            flex: 1;
            display: flex;


        }
    }

}

.content-home {
    background-color: var(--color-grey-dark-1);
    flex: 1;

    display: flex;
    position: relative;

}

.content-work {
    background-color: var(--color-grey-dark-1);
    flex: 1;

    justify-content: center;
    display: flex;
    position: relative;

}

.trans-style {
    width: 100vw;
}

.item-1 {
    @media (min-width: 60em) {
        grid-column: 1 / span 2;

        h1 {
            font-size: 3rem;
        }
    }
}

.code-toolbar {
    @include respond(large-phone) {
        width: 90vw;

    }
}

.toolbar-item {
    font-size: 2.5rem;
}