.button {
    text-decoration: none;
    font-size: 2.2rem;
    letter-spacing: 1px;
    border: 2px solid;
    padding: 5px 1.5rem;
    line-height: 1.4;

    @include respond(small-laptop) {
        font-size: 1.8rem;
    }

    &:active,
    &:focus {
        outline: none;
        transform: translateY(-2px);
        box-shadow: 0 .5rem 1rem rgba(#000, .2);
    }


    &__full-red:link,
    &__full-red:visited {
        color: var(--color-heading-small);
        font-weight: 500;
        background-color: var(--color-primary);
        border-color: var(--color-primary);
        transition: all .2s;
    }

    &__full-red:hover {
        transform: translateY(-5px);
        box-shadow: 0 2rem 3rem rgba(#000, .4);
        transform: rotate(5deg) scale(1.1);

        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }

    &__outline-red:link,
    &__outline-red:visited {
        color: var(--color-primary);
        padding: 5px 4rem;
        transition: all .2s;

        @include respond(tab-landscape) {
            color: var(--color-paragraph);
            font-weight: 500;
        }
    }

    &__outline-red:hover {
        transform: translateY(-5px);
        box-shadow: 0 2rem 3rem rgba(#000, .4);
        transform: rotate(5deg) scale(1.1);

        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;

        }

        background-color: var(--color-primary);
        color: var(--color-heading-small);
        border-color: var(--color-primary);

        @include respond(tab-landscape) {
            background-color: var(--color-paragraph);
            color: var(--color-grey-dark-1);
            border-color: var(--color-paragraph);
        }
    }

    &__red-round {
        text-align: center;
        font-size: 1.5rem;
        text-transform: uppercase;
        color: var(--color-heading-small);
        background-color: var(--color-primary);
        border-color: var(--color-primary);
        padding: 5px 2.5rem;
        display: flex;
    }

    &__red-round:hover {
        transform: translateY(-5px);
        box-shadow: 0 2rem 3rem rgba(#000, .4);
        transform: rotate(5deg) scale(1.1);

        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }

    &__grey-round {
        border: 1px solid;
        text-align: center;
        text-transform: uppercase;
        font-size: 1.5rem;
        color: var(--color-heading);
        margin-left: 5rem;
        padding: 5px 2.5rem;
        display: flex;
        fill: var(--color-heading);
    }

    &__grey-round:hover {
        transform: translateY(-5px);
        box-shadow: 0 2rem 3rem rgba(#000, .4);
        transform: rotate(5deg) scale(1.1);

        background-color: var(--color-heading);
        fill: var(--color-grey-dark-1);
        color: var(--color-grey-dark-1);

        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }

    &__grey-aboutme {
        border: 1px solid;
        text-align: center;
        text-transform: uppercase;
        font-size: 2rem;
        color: var(--color-heading);
        margin-left: 5rem;
        padding: 7px 2.5rem;
        display: flex;
        fill: var(--color-heading);

        @include respond(small-laptop) {
            font-size: 1.5rem;
        }

        @include respond(large-phone) {
            margin-left: 2rem;
        }
    }

    &__grey-aboutme:hover {
        transform: translateY(-5px);
        box-shadow: 0 2rem 3rem rgba(#000, .4);
        transform: rotate(5deg) scale(1.1);

        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }

        background-color: var(--color-heading);
        color: var(--color-grey-dark-1);
        fill: var(--color-grey-dark-1);

    }

    &__contact {
        text-transform: uppercase;
        font-size: 1.8rem;


    }

    &:link,
    &:visited {
        transition: all .2s;
    }
}