.content-blog {
    padding: 4rem;
    margin: 8rem auto 2rem auto;
    max-width: 120rem;

    h2 {
        font-size: 4.2rem;
        margin-bottom: .6rem;
        margin-top: 6rem;
        font-family: $font-blog;
    }

    p {
        line-height: 1.8;
        font-size: 2rem;
        margin-bottom: 1.7rem;
        font-weight: 400;
        font-family: $font-blog;

        @include respond(large-phone) {
            font-size: 2.6rem;
        }
    }

    code {
        background-color: #494949 !important;
        display: inline-block;
        white-space: pre-wrap !important;
        padding: 0 1rem !important;
        font-family: monospace;

        span {
            display: inline-block;
        }
    }

    a {
        color: #999;

    }
}

.blog-heading {
    font-size: 5.2rem;
    line-height: 1.6;
    font-weight: 600;
}

.blog-date {
    display: block;
    font-size: 2rem;
    margin-bottom: 5rem;
    font-weight: 300;
    color: var(--color-date);
}

.blog-image {
    width: 100%;
    margin-bottom: 1rem;
}

.body-image {
    display: block;
    width: 100%;
    margin: 1rem auto;
}

.body-image-text {
    display: block;
    text-align: center;
    font-size: 1.4rem;
    color: #999;
    letter-spacing: .05em;
}

.line {
    display: block;
    height: 1px;
    background-color: var(--color-line);
    content: " ";
    width: 100%;
    margin: 0 auto;
    margin-top: 6rem;
    margin-bottom: 4rem;
}

.written-by {
    display: block;
    font-weight: 400;
    font-size: 1.6rem;
    text-transform: uppercase;
    color: var(--color-paragraph);
    margin-bottom: 1rem;
}

.author {
    display: block;
    font-size: 2.6rem;
    font-weight: 500;
}