.legal {
    font-size: 1.2rem;
    text-align: center;
    padding: 1rem;
    color: var(--color-tags);
    position: relative;
    top: 94vh;

    @include respond(tab-landscape) {
        display: none;
    }
}