.content-mywork {

    width: 80%;


    display: flex;
    flex-direction: column;
    justify-content: space-around;

    h2 {
        padding-top: 1rem;

        @include respond(tab-landscape) {
            padding-top: 3.5rem;
        }
    }

    @include respond(small-laptop) {
        margin-left: 3rem;
    }
}

// .content-arrows {
//     background-color: var(--color-grey-dark-1);
//     display: flex;

//     @include respond(small-laptop) {
//         display: none;
//     }
// }

.heading-portfolio {
    align-self: flex-start;
}

.project {
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    max-width: 98%;

    @include respond(small-laptop) {
        padding-top: 5rem;
        padding-left: 0rem;
    }

    &__details {
        padding: 2rem 0;
        display: flex;


        @include respond(small-laptop) {
            flex-direction: column;
        }

        @include respond(large-phone) {
            padding: 0 0;
        }
    }
}

.project-heading {
    margin: 1rem 0;
    align-self: center;
}


.project-heading-2 {
    margin: 1rem 0;
    align-self: center;
}



.image-description {
    width: 100%;
    height: auto;
    min-width: 0;
    padding: 2rem 4rem 2rem 4rem;

    @include respond(small-laptop) {
        padding-left: 0;
        padding-bottom: 2rem;
    }

    @include respond(large-phone) {
        padding-left: 0;
    }
}

.description-box {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    padding: 2rem 0 2rem 0rem;

    &__item {
        margin: 2rem 0;

        @include respond(tab-landscape) {
            margin: 1rem 0;
        }
    }

    &__2 {
        order: -1;

        @include respond(small-laptop) {
            order: 1;
        }
    }

    @include respond(small-laptop) {
        max-width: 100%;

    }

    @include respond(large-phone) {
        padding-left: 0;
    }

}

// BUTTONS
.description-buttons {
    margin-top: 2rem;
    display: flex;

    @include respond(tab-landscape) {
        margin-top: 1rem;
    }
}

// Button Icons
.description-link {
    flex: 1;
    display: inline-block;
    width: 1.8rem;
    fill: var(--color-icons-light);
    margin-right: 1rem;
}

.description-github {
    display: inline-block;
    width: 2rem;
    fill: var(--color-heading);
    margin-right: 1rem;
}